*{padding:0;
margin:0;
width:100%;
height:100%;
}
body{
    background-color: seashell;
    
}
.top{
    border-radius: 20px;
    height: 200px;
    text-align: right;
    background-image: url("../Images/hbg3.jpg");
    background-size: cover;
    position: fixed;
    top: 10px;
    width: 100%;
    z-index: 998;
}
.top .logo img{
    position: inherit;
    top:0px;
    height: 200px;
    width: auto;
    border-radius: 50px;
}

ul{
    position: fixed;
    top: 10px;
    width: 50%;
    z-index: 998;
    list-style-type: none;
    font-family: Verdana;
    margin: 0;
    padding: 0;
    overflow: hidden;
    


}
li{
    float: left;
}
li a{
    
    font-size: xx-large;
    display: block;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
    color: whitesmoke;
}
li a:hover{
    background-color:darkolivegreen;
    border-radius: 20px;
}
.sample{
    height: 20px;
    width: 100%;
    
}



.galary
{
    top:0;
    width: 100%;
    height: 550px;    
}


.about{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: xx-large;
    position: relative;
    justify-content: stretch;
}
.two{
    width: 100%;
    height: 500px;
    background-color: chocolate;
}
.products{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Cambria;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;  
}
.orp{
    font-size: 40px;
    font-family: 'Syne Mono', monospace;
}
.products table,tr,td{
    padding: 10px;
    padding-bottom: 50px;

}

.products table {
    width: 100%;
    height: 100%;
    
}
.products img{
    height: 250px;
    width: 100%;
    box-shadow: 10px 10px 10px 10px tan;
    border-radius: 20px;

    
}
.four{
    width: 100%;
    height: 500px;
    background-color: gold;
}
footer{
    border-radius: 20px;
    background-color:olivedrab;
    width:100%;
    
    height: auto;
    padding: 100px 100px 100px 200px;   
}
a{
    text-decoration: none;
    color: blanchedalmond;
}
.contact{
    align-self: center;
    width:70%;
    border-radius: 20px;
    background-color: olivedrab;
    box-shadow: 10px 10px 10px 10px darkolivegreen;
    padding: 20px;
    font-size: small;
    padding: 40px 40px 40px 40px;   
    color: blanchedalmond;
}
i{
    margin-right: 20px;
}

.slider{
    border-radius: 20px;
    width: 100%;
    height: 550px;
    position: relative;
    left: 50%;
    
    transform: translate(-50%,-50%);
    background-image: url('../Images/p_005.jpg');
    background-size: 100% 100%;
    animation:slider 60s infinite ease-in;

}
@keyframes slider{
    0%{ background-image: url("../Images/personal\ 002.jpg");  }
    5%{background-image: url("../Images/personal\ 003.jpg"); }
    10%{ background-image: url("../Images/personal\ 009.jpg");  }
    15%{ background-image: url("../Images/personal\ 020.jpg");  }
    20%{ background-image: url("../Images/personal\ 028.jpg");  }
    25%{ background-image: url("../Images/personal\ 029.jpg");  }
    30%{ background-image: url("../Images/personal\ 031.jpg");  }
    35%{ background-image: url("../Images/personal\ 037.jpg");  }
    40%{ background-image: url("../Images/personal\ 040.jpg");  }
    45%{ background-image: url("../Images/personal\ 041.jpg");  }
    50%{ background-image: url("../Images/personal\ 044.jpg");  }
    60%{ background-image: url("../Images/personal\ 045.jpg");  }
    70%{ background-image: url("../Images/personal\ 053.jpg");  }
    80%{ background-image: url("../Images/personal\ 002.jpg");  }
    90%{ background-image: url("../Images/personal\ 002.jpg");  }
    95%{ background-image: url("../Images/personal\ 002.jpg");  }
    
    
}




  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 50px;
  }
  #myBtn img{
    height: 40px;
    width: 40px;
}

  #myBtn:hover {
    background-color: orange;
  }
.cr{
    background-color: yellowgreen;
    padding: 20px;
    color: blanchedalmond;
    text-align: center;
    border-radius: 20px;

  }
  
