body
{
    margin:0;
    font-family: sans-serif;
    background: #e6ffe6;;
}
h1
{
    text-align: center;
}
h3
{
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color:black;
    
}
a{
    text-decoration: none;
}
.gallery
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content
{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px ;
    cursor: pointer;
    padding-top: 10px;
    box-shadow:0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background-color: aliceblue;
}
.content:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px,-8px);
}
img
{
    width: 253px;
    height: 200px;
    text-align: center;
    margin: 0,auto;
    display: block;
}
p{
    text-align: center;
    color: green;
    padding-top: 0,8px;
}
button
{
    text-align:center;
    font-size: 30px;
    color: #fff;
    width: 100%;
    padding:15px;
    border: 0;
    outline: none; 
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px 20px 20px 20px;


}
.buy-1
{
    background: skyblue;
}
.buy-2
{
    background: olive;
}
.buy-3
{
    background: orangered;
}
.buy-4
{
    background:forestgreen;
}


@media(max-width:1000px)
{
    .content
    {
        width: 45%;
    }
}
@media(max-width:750px)
{
    .content
    {
        width: 100%;
    }
}