@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
body{
    background-color:#b6d2e3;
    
    height: 100%;
    box-shadow: #666;
    background-size: cover;
}


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact .content h1{
    font-size: 70px;
    font-weight: 500;
    color: #111111;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
    text-shadow: 4px 4px 4px #1968c8;

}
 .contact .content p{
     font-weight: 300;
 }

 .container{
     width: 100%;
     display: flex;
     justify-content: center;
     margin-top: 30px;
}

.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
    font-size: x-large;
    text-decoration: none;

}





.container .contactInfo .box .icon{
    min-width: 50px;
    height: 50px;
    display: flex;
    background: rgb(153, 154, 154);
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: #8ebf42;
    
    text-shadow: 3px 3px 3px  #1968c8;
    

}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 500;
    flex-direction: column;
    
}

.container .contactInfo .box .text h1{
    font-weight: 600;
    color: rgb(81,30,126)
    font-size:xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #e95b1e;
    text-shadow: 2px 2px 8px #5d9ec4;
  

}


.contactForm{
    width: 40%;
    padding: 40px;
    background: rgba(53, 14, 63, 0.171);
    border-radius: 50px;
    box-shadow: 0 0 18px 0 #1c87c9;
   
    
  }
}
.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    
   
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;

}
.contactForm .inputBox span{
    position: absolute;
    padding: 5px 0;
    left: 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;

}

.contactForm .inputBox input:focus ~span,
.contactForm .inputBox input:valid ~span,
.contactForm .inputBox textarea:focus ~span,
.contactForm .inputBox textarea:valid ~span{
    color: #e9731e;
    font-size: 12px;
    transform: translateY(-32px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background-color: rgb(71, 227, 71)
    border:None;
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    
}

@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,.contactForm{
        width: 100%;
    }
}

a{
     text-decoration: none;
}
